<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1060694889699-8p17isa8bqc5l9ibhvoj554j4u6l3fr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060694889699-8p17isa8bqc5l9ibhvoj554j4u6l3fr3</string>
	<key>API_KEY</key>
	<string>AIzaSyD71xgXDNC_UiLqRFnM2LKXB-qtxTtHwrY</string>
	<key>GCM_SENDER_ID</key>
	<string>1060694889699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.salyangoz.UpdateMeSample</string>
	<key>PROJECT_ID</key>
	<string>updateme-swift-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>updateme-swift-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060694889699:ios:8d421d087b70465a</string>
	<key>DATABASE_URL</key>
	<string>https://updateme-swift-sample.firebaseio.com</string>
</dict>
</plist>